{% extends "layout/base.html" %}
{% load i18n %}
{# context: object (Manufacturer) #}

{% block content %}
    {# Display a very simple disclaimer, and a minimal POST form #}
    <p>
        {% blocktrans with object.name as name %}
            Do you really want to destroy the life of {{ name }}?
        {% endblocktrans %}
    </p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="{% trans "Delete this" %}">
    </form>
{% endblock %}

{% block page_title %}
    Danger area
{% endblock %}
